.card-detail {
    padding: 2% ; 
    background-color: white;
    border: 2px solid rgb(211, 203, 203);
    width: 20%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-detail>h1{
    font-style: italic;
}

.card-detail>img{
    width: 200px;
}


.card-detail>.toggle{
    width: 90%;
}
.card-detail>.toggle>p{
    font-size: xx-small;
    font-style: italic;
    padding: 1%;
}

.card-detail>.toggle>a{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
