.form-section {
    margin: 5%;
    display: flex;
    flex-direction: column;
    font-style: italic;

    h1 {
        align-self: center;
        font-size: x-large;
        border-bottom: 1px solid black;
    }

    .form {
        width: 18%;
        padding: 1%;
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 25px;
        font-size: larger;

        label {
            align-self: center;
        }

        input {
            height: 15px;
        }

        button {
            margin: 6%;
            height: 2rem;
            width: 100px;
            align-self: center;
            font-style: italic;
        }
    }
}