.form-section {
    margin: 5%;
    display: flex;
    flex-direction: column;

    .form {
        width: 18%;
        padding: 1%;
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 25px;
        font-size: larger;

        label {
            align-self: center;
        }

        input {
            height: 18px;
            border: 1px solid grey;
            border-radius: 8px;
        }

        button {
            margin: 6%;
            height: 2rem;
            width: 120px;
            align-self: center;
            font-style: italic;
            border: 1px solid grey;
            border-radius: 8px;
        }

        button:hover {
            color: black;
            border: 1px solid black;
        }
    }
}