.card { 
    display: flex ;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
    padding: 25px;
    width: 230px;
    height: 350px;
    background-color: rgb(248, 245, 245);
    border: 1px solid rgb(211, 203, 203);
}

.card > p {
    padding: 9px;
    font-style:italic;
}

.card > h1 {
    font-weight: lighter;
}

.card > img {
    width: 140px;
    height: 150px;
}
