.cartwidget {
    margin-right: 30px;
    width: 50px;
}

.cartwidget>a{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    font-size: small;
    font-style: oblique;
}

.cartwidget>a>img {
    width: 80%;
    padding-top: 5%;
}