.cartwidget {
    margin-right: 30px;
    width: 50px;

}

.cartwidget>a{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    font-size: x-large;
}

.cartwidget>a>img {
    width: 90%;
}