.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7%;
    padding: 5px;
    justify-content: space-between;
    background-color: rgba(248, 245, 245, 0.927);
    border-bottom: 1px solid rgb(211, 203, 203);
    
    .brand {
        align-self: center;
        
        img {
            padding-left: 50%;
            width: 70px;
            height: 30px;
        }
    }
    
    ul {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-between;
        list-style: none;
        align-items: center;
    }
    
    a {
        color: gray;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 85%;
        text-decoration: none;
    }

    a:hover {
        color: black;
        font-size: 90%;
    }
}