.navbar {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 12px;
    justify-content: space-between;
    background-color: rgba(248, 245, 245, 0.47);
    border-bottom: 1px solid rgb(211, 203, 203);
}

.navbar>ul {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-evenly;
    list-style: none;
    
}

.navbar>ul>li{
    font-size: large;
    font-family: verda;
}

.navbar>.brand{
    align-self: center;
}

.navbar>.brand>img {
    margin-left: 15px;
    width: 80px;
    height: 30px;
}