
body  {
  padding: 0px;
  margin: 0px;
  background: linear-gradient(246deg, rgb(234, 232, 246) 1%, rgb(235, 229, 232) 100%);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.cargando{
  padding: 10%;
  display: flex;
  align-items: end;
  justify-content: center;
}

h1 {
  text-align: center;
  font-weight: lighter;
  font-size: x-large;
  font-style: italic;
  color: grey;
}